<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Mnich</title>
        <link href="/css/style.css" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    </head>
    <body>
        <%- include("common/searchbar", {categories, user, cart}) %>

        <main>
            <%- include("common/info", {image: errorImage, header: errorCode, description: errorDescription}) %>
        </main>
    </body>
</html>
