@import "variables.scss";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    background-color: $primaryDark;
}

.no-spin::-webkit-outer-spin-button,
.no-spin::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spin {
  -moz-appearance: textfield;
}

nav{
    height: 20%;

    #nav-general{
        height: 80%;
        display: grid;
        gap: 20px;
        grid-template-columns: 2fr 10fr 1fr 1fr;
        align-items: center;
        background-color: $primary;

        & > *{
            &:not(:first-child){
                border-left: 2px solid black;
            }
        }

        img{
            width: 100%;
        }

        #search{
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 0;
            border: 2px solid $onPrimary;
            border-radius: 20px;
            height: 30%;
            padding: 0 10px;
            background-color: white;

            input[type="text"]{
                flex-grow: 1;
                border: none;
                border-radius: 20px;
                outline: none;
                font-size: 1.5rem;
            }

            button{
                border: none;
                cursor: pointer;
                background-color: transparent;
            }
        }

        #login{
            display: flex;
            justify-content: center;
            align-items: center;
            color: $onPrimary;
            text-decoration: none;

            .material-symbols-outlined{
                color: $onPrimary;
                font-size: 3rem;
            }
        }

        #cart{
            display: flex;
            justify-content: center;
            position: relative;
            text-decoration: none;

            .material-symbols-outlined{
                font-size: 3rem;
                color: $onPrimary;
            }

            #items-number{
                position: absolute;
                bottom: 70%;
                left: 60%;
                color: $onSecondary;
                background-color: $secondaryLight;
                border-radius: 100%;
                padding: 2px 7px;
            }
        }
    }

    #nav-categories{
        width: 100%;
        height: 20%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        align-items: center;
        justify-items: center;

        & > *{
            color: $onSecondary;
            text-decoration: none;
            cursor: pointer;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        & > *:hover{
           background-color: $secondaryDark; 
        }

        background-color: $secondary;
    }
}

main{
    background-color: $primaryDark;
    margin: 2% 10%;

    #filtered-search{
        display: flex;
        gap: 5%;

        #books{
            width: 85%;
        }

        #filters{
            display: flex;
            flex-direction: column;
            gap: 2%;
            background-color: $primary;
            width: 15%;
            color: $onPrimary;

            .filter-section{
                display: flex;
                flex-direction: column;
                ul{
                    list-style-position: inside;
                }
            }

            & > *{
                border-bottom: 2px solid $secondary;
                padding: 3%;
            }

            .categories{

                .category{
                    list-style-type: "▼";
                }

                .category > .subcategories{
                    margin-left: 5%;
                    display: none;
                    list-style-type: "- ";
                }
            }

            .price input{
                width: 40%;
            }
        }
    }

    #cart{
        display: grid;
        grid-template-columns: 2fr 5fr 1.5fr 2fr;
        gap: 2%;
        color: $onPrimary;

        #cart-items-container{
            background-color: $primary;
            grid-column: 2;
            padding: 5%;

            & > .cart-item-single{
                display: grid;
                grid-template-columns: 1fr 1fr .75fr 1fr 1fr;
                margin: 5% 0;
                align-items: center;
                gap: 2%;
                height: 10vh;

                img{
                    height: 10vh;
                }

                span{
                    font-size: 2rem;
                }

                p{
                    font-size: 1.3rem;
                }

                .cart-item-quantity{
                    display: flex;
                    height: 40%;
                    border: 1px solid black;

                    & > *{
                        font-size: 2rem;
                        padding: 5%;
                    }

                    input[type="number"]{
                        width: 40%;
                        flex-grow: 1;
                        text-align: center;
                        border: 0;
                        outline: none;
                    }

                    button{
                        width: 20%;
                        background-color: white;
                        border: 0;
                    }
                }
            }
        }

        #cart-summary{
            background-color: $primary;
            grid-column: 3;
            padding: 5%;

            table{
                width: 100%;
            }
        }
    }

    #auth{
        display: grid;
        margin-top: 5%;
        gap: 1%;
        grid-template-columns: .75fr 1fr 1fr .75fr;
        color: $onPrimary;

        #login, #register{
            background-color: $primary;
            padding: 15%;
            form{
                display: flex;
                flex-direction: column;
                span{
                    margin: 5% 0;
                    display: flex;
                    label, input[type="text"], input[type="password"]{
                        width: 50%;
                    }
                    input[type="checkbox"]{
                        margin-right: 5%;
                        & + label{
                            width: 70%;
                        }
                    }
                    button{
                        width: 100%;
                        padding: 2%;
                        background-color: $secondary;
                        color: $onSecondary;
                        border-radius: 20px;
                        cursor: pointer;
                    }
                }
            }
        }

        #login{
            grid-column: 2;
        }

        #register{
            grid-column: 3;
        }
    }

    #error{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: $primary;

        #error-image{
            display: flex;
            justify-content: center;
            img{
                max-height: 70vh;
            }
        }

        #error-reason{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: white;

            #error-code{
                font-size: 500%;
            }

        }
    }

    #books{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        background-color: $primary;
        padding: 3%;

        .book{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 1% 3%;
            
            border-collapse: collapse;

            color: $onPrimary;
            text-decoration: none;

            button{
                background-color: $secondary;
                color: $onSecondary;
                font-size: 1.5rem;
            }

            img{
                max-width: 11vw;
            }

            & > *{
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                width: 100%;
            }

            &:hover{
                box-shadow: 3px 3px 15px 0 rgba(66, 68, 90, 1);
            }
        }
    }
}
