<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Mnich</title>
        <link href="/css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    </head>
    <body>
        <%- include("common/searchbar", {categories, user, cart}) %>

        <main>
            <section id="auth">

                <div id="login">
                    <h1>Zaloguj się:</h1>
                    <form action="/login" method="POST">
                        <span>
                            <label for="login-email">E-mail:</label>
                            <input type="text" name="email" id="email">
                        </span>

                        <span>
                            <label for="login-password">Hasło:</label>
                            <input type="password" name="password" id="password">
                        </span>

                        <span>
                            <button type="submit">Zaloguj się</button>
                        </span>
                    </form>
                </div>

                <div id="register">
                    <h1>Nie masz konta? Zarejestruj się:</h1>
                    <form action="/register" method="POST">
                        
                        <span>
                            <label for="email">E-mail:</label>
                            <input type="text" name="email" id="email">
                        </span>

                        <span>
                            <label for="password">Hasło:</label>
                            <input type="password" name="password" id="password">
                        </span>

                        <span>
                            <label for="register-password-repeat">Powtórz hasło:</label>
                            <input type="password" name="password-repeat" id="password-repeat">
                        </span>

                        <span>
                            <input type="checkbox" name="terms" id="terms">
                            <label for="terms">*Akceptuje warunki użytkowania</label>
                        </span>

                        <span>
                            <button type="submit">Zarejestruj się</button>
                        </span>
                    </form>
                </div>

            </section>
        </main>
    </body>
</html>
