<nav>
    <section id="nav-general">
        <img src="./assets/logo.png" alt="Logo">
        <form action="/search" method="GET" id="search">
            <input type="text" name="" id="" placeholder="Wyszukaj..." maxlength="30">
            <button type="submit">
                <span class="material-symbols-outlined">
                    search
                </span>
            </button>
        </form>

        <a href="/login" id="login">
            <span class="material-symbols-outlined">
                person
            </span>
            <span class="additional-info">
                Zaloguj się
            </span>
        </a>

        <a id="cart" href="/cart">
            <span class="material-symbols-outlined">
                shopping_cart
            </span>
            <div id="items-number">
                2
            </div>
        </a>
    </section>
    <section id="nav-categories"> </section>
</nav>
