$primary: #222222;
$primaryDark: #0A0A0D; 
$onPrimary: #FFFFFF;
$secondary: #A63272;
$secondaryDark: #73224F;
$secondaryLight: #D93D93;
$onSecondary: #FFFFFF;
$accent: #b81237;
$accentDark: #810d26;
$onAccent: #FFFFFF;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    background-color: $primaryDark;
}

.no-spin::-webkit-outer-spin-button,
.no-spin::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spin {
  -moz-appearance: textfield;
}

nav{
    height: 20%;

    #nav-general{
        height: 80%;
        display: grid;
        gap: 20px;
        grid-template-columns: 2fr 10fr 1fr 1fr;
        align-items: center;
        background-color: $primary;

        img{
            width: 100%;
        }

        #search{
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 0;
            border: 2px solid $onPrimary;
            border-radius: 20px;
            height: 30%;
            padding: 0 10px;
            background-color: white;

            input[type="text"]{
                flex-grow: 1;
                border: none;
                border-radius: 20px;
                outline: none;
                font-size: 1.5rem;
                margin-left: 1%;
            }

            button{
                border: none;
                cursor: pointer;
                background-color: transparent;
            }
        }

        #login{
            display: flex;
            justify-content: center;
            align-items: center;
            color: $onPrimary;
            text-decoration: none;

            .material-symbols-outlined{
                color: $onPrimary;
                font-size: 3rem;
            }
        }

        #cart{
            display: flex;
            justify-content: center;
            position: relative;
            text-decoration: none;

            .material-symbols-outlined{
                font-size: 3rem;
                color: $onPrimary;
            }

            #items-number{
                position: absolute;
                bottom: 70%;
                left: 60%;
                color: $onSecondary;
                background-color: $secondaryLight;
                border-radius: 100%;
                padding: 2px 7px;
            }
        }
    }

    #nav-categories{
        width: 100%;
        height: 20%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        align-items: center;
        justify-items: center;

        & > *{
            color: $onSecondary;
            text-decoration: none;
            cursor: pointer;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        & > *:hover{
           background-color: $secondaryDark; 
        }

        background-color: $secondary;
    }
}

main{
    background-color: $primaryDark;
    margin: 2% 10%;

    .item-quantity{
        display: flex;

        & > *{
            padding: 2%;
            background-color: transparent;
            color: $onPrimary;
            font-size: 1.5rem;
            border: 1px solid $onPrimary;
        }

        input[type="number"]{
            width: 40%;
            flex-grow: 1;
            text-align: center;
            outline: none;
        }

        button{
            width: 20%;
            cursor: pointer;
        }
    }

    #filtered-search{
        display: flex;
        gap: 5%;

        #books{
            width: 85%;
        }

        #filters{
            display: flex;
            flex-direction: column;
            gap: 1%;
            background-color: $primary;
            padding: 2%;

            width: 20%;
            color: $onPrimary;

            .filter-section{
                display: flex;
                flex-direction: column;

                label, input[type="checkbox"]{
                    cursor: pointer;
                }

                input[type="checkbox"]{
                    accent-color: $secondary;
                }
            }

            & > *{
                border-bottom: 2px solid $secondary;
                padding: 3%;
            }

            .categories{
                a{
                    color: $secondary;
                    cursor: pointer;
                }

                .selected{
                    color: $accent;
                }

                .category{
                    margin-left: 2%;
                    list-style-type: none;

                    &:not(.selected):hover{
                        cursor: pointer;
                        color: $secondary;
                    }
                }
            }

            .price input{
                width: 40%;
            }

            #filter-button{
                background-color: $secondary;
                color: $onSecondary;
                cursor: pointer;
                border: none;
            }
        }
    }

    #cart{
        display: grid;
        color: $onPrimary;
        grid-template-columns: 4fr 1fr;
        gap: 2%;

        #cart-items-container{
            background-color: $primary;
            padding-left: 5%;

            .cart-item-single{
                display: grid;
                grid-template-columns: .5fr .7fr .75fr 1fr .5fr;
                margin: 5% 0;
                align-items: center;
                height: 10vh;

                img{
                    height: 10vh;
                }

                a{
                    color: $onPrimary;
                    text-decoration: none;

                    &:hover{
                        color: $secondary;
                    }
                }

                .delete-form{
                    margin-left: 50%;

                    button{
                        background-color: transparent;
                        border: 0;

                        span{
                            font-size: 2rem;
                            cursor: pointer;
                            color: $onPrimary;
                        }
                    }
                }

                p{
                    font-size: 1.3rem;
                }
            }
        }

        #cart-summary{
            padding: 20% 5%;
            background-color: $primary;
            display: grid;
            grid-template-columns: 1fr 1fr;

            a{
                grid-column: span 2;
                padding: 3%;
                background-color: $accent;
                font-size: 1.5rem;
                color: $onAccent;
                cursor: pointer;
                text-align: center;
                vertical-align: center;
                text-decoration: none;

                &:hover{
                    background-color: $accentDark;
                }
            }
        }
    }

    #auth{
        display: grid;
        margin-top: 5%;
        gap: 1%;
        grid-template-columns: 1fr 1fr;
        color: $onPrimary;

        #login{
            margin-left: auto;
        }

        #register{
            margin-right: auto;
        }

        #login, #register{
            max-width: 30vw;
            background-color: $primary;
            padding: 15%;

            .auth-error{
                color: red;
            }

            form{
                display: flex;
                flex-direction: column;
                span{
                    margin: 5% 0;
                    display: flex;
                    label, input[type="text"], input[type="password"]{
                        width: 50%;
                    }

                    input[type="checkbox"]{
                        margin-right: 5%;
                        & + label{
                            width: 70%;
                        }
                    }

                    button{
                        width: 100%;
                        padding: 2%;
                        background-color: $secondary;
                        color: $onSecondary;
                        border-radius: 20px;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    #error{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: $primary;

        #error-image{
            display: flex;
            justify-content: center;
            img{
                max-height: 70vh;
            }
        }

        #error-reason{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: white;

            #error-code{
                font-size: 500%;
            }

        }
    }

    #books{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        background-color: $primary;
        padding: 3%;

        .book{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 1% 3%;
            
            border-collapse: collapse;

            color: $onPrimary;
            text-decoration: none;

            button{
                background-color: $secondary;
                color: $onSecondary;
                font-size: 1.5rem;
                cursor: pointer;
                border: none;
                width: 100%;
            }

            img{
                max-width: 11vw;
            }

            & > *{
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                width: 100%;
            }

            &:hover{
                box-shadow: 3px 3px 15px 0 rgba(66, 68, 90, 1);
                cursor: pointer;
                h1, h3, p{
                    color: $secondaryLight;
                }
            }
        }
    }

    #book-details{
        color: $onPrimary;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;

        & > *{
            background-color: $primary;
        }

        #book-info{
            padding: 2%;
            display: flex;
            flex-direction: column;
            gap: 2%;

            #title{
                font-size: 3rem;
                padding: 2%;
                background-color: $accent;
            }

            #author{
                font-size: 2rem;
            }

            .property{
                font-size: 1.5rem;
            }

            #description{
                flex-grow: 1;
                padding: 2%;
                border-radius: 10px;
            }
        }

        #book-cart-options{
            margin-left: 5%;
            display: flex;
            flex-direction: column;
            padding-top: 20%;
            gap: 10%;
            padding: 20% 5% 20% 5%;

            #price{
                text-align: center;
                font-size: 3rem;
            }

            button[type="submit"]{
                padding: 5% 0;
                background-color: $accent;
                color: $onSecondary;
                cursor: pointer;
                font-size: 1.5rem;
                border: none;

                &:hover{
                    background-color: $accentDark;
                }
            }
        }
    }

    .missing{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: $primary;
        color: $onPrimary;
        flex-grow: 1;

        img{
            max-height: 70vh;
        }
    }
}
